<h1>Listing orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Paid?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.amount %></td>
    <td><%= order.finished? %></td>
    <td><%= link_to 'Payment', order unless order.finished?  %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
