<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @order.amount %>
</p>

<p>
  <b>Paid:</b>
  <%= @order.finished? %>
</p>



<%= opay_form_for @order, provider: :payu do |f| %>
  <%= f.payment_info first_name: 'Jan', last_name: 'Kowalski', email: 'kowalski@gmail.com', desc: @order.name, client_ip: '127.0.0.1' %>
  <%= f.submit :pay_with_payu %>
<% end -%>

<%= opay_form_for @order, provider: :paypal do |f| %>
  <%= f.paypal_payment_info desc: @order.name, client_ip: '127.0.0.1' %>
  <%= f.paypal_submit_tag %>
<% end -%>

<%= opay_form_for @order, provider: :transferuj do |f| %>
  <%= f.payment_info  first_name: 'Jan', last_name: 'Kowalski', email: 'kowalski@gmail.com', desc: @order.name %>
  <%= f.submit :pay_with_transferuj %>
<% end -%>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
